h1{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	text-indent: 20px;
	margin-bottom: 10px;
}
.subtitle{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: black;
}
#tooltip{
	font-family: 'Open Sans', sans-serif;
	text-indent: 20px;	
}