body{
	font-family: 'Open Sans', sans-serif;
}
h1{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	text-indent: 20px;
	margin-bottom: 10px;
}
.subtitle{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 15px;
	color: black;
}
.lightBG{
	stroke: #ececec;
	fill: none;
	stroke-width: 2px;
}
.bgBorder{
	fill: none;
	stroke: #ececec;
	stroke-width: 3px;
}
.cornerLabel{
	fill: #ececec;
	stroke: none;
}
.cornerLabelText{
	fill: #adadad;
	font-weight: bold;
}